.App {
  font-family: sans-serif;
  text-align: center;
  
}

#counter{
  display:flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

#countNumber{
  font-size: 5rem;
}